/*  your css code here. If applicable */
body{
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.fb_logo{
	width:450px;
}

.fb_right{
    border: auto;
    background-color: white;
    display: flex;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    flex-direction: column;
    gap: 10px;
}

.fb_left{
    width: 480px;
    display: inline-block;
	margin-right:20px;
}

#help{
	width:120%;
	font-size:16px;
}

#fname{
    width: 260px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
}
#lname{
    width: 260px;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px;
}

#acc{
    text-decoration: none;
    color: #1877f2;
    margin-top: 10px;
}

#btn{
margin-top: 10px;
background-color:#1877f2;
width: 265px;
height: 30px;
border-radius: 5px;
padding: 10px 20px;
}

.signup{
margin-top: 10px;
background-color: #42b72a;
width: 265px;
height: 30px;
border-radius: 5px;
}

